// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    warp-mouse-to-focus
    keyboard {
        xkb {
            layout "us" // Use the American keyboard layout
        }
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
        dwt 
    }

    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
